@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 36% 15%;
    --foreground: 240 67% 97%;
    --card: 285 30% 20%;
    --card-foreground: 240 67% 97%;
    --popover: 285 30% 20%;
    --popover-foreground: 240 67% 97%;
    --primary: 267 100% 50%;
    --primary-foreground: 240 67% 97%;
    --secondary: 285 30% 25%;
    --secondary-foreground: 240 67% 97%;
    --muted: 285 30% 25%;
    --muted-foreground: 240 20% 65%;
    --accent: 267 100% 50%;
    --accent-foreground: 240 67% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 30% 25%;
    --input: 285 30% 25%;
    --ring: 267 100% 50%;
    --chart-1: 267 100% 50%;
    --chart-2: 285 36% 45%;
    --chart-3: 240 67% 70%;
    --chart-4: 285 36% 65%;
    --chart-5: 267 100% 75%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 285 36% 15%;
    --foreground: 240 67% 97%;
    --card: 285 30% 20%;
    --card-foreground: 240 67% 97%;
    --popover: 285 30% 20%;
    --popover-foreground: 240 67% 97%;
    --primary: 267 100% 50%;
    --primary-foreground: 240 67% 97%;
    --secondary: 285 30% 25%;
    --secondary-foreground: 240 67% 97%;
    --muted: 285 30% 25%;
    --muted-foreground: 240 20% 65%;
    --accent: 267 100% 50%;
    --accent-foreground: 240 67% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 30% 25%;
    --input: 285 30% 25%;
    --ring: 267 100% 50%;
    --chart-1: 267 100% 50%;
    --chart-2: 285 36% 45%;
    --chart-3: 240 67% 70%;
    --chart-4: 285 36% 65%;
    --chart-5: 267 100% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
